@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    border: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Roboto";
}
body{
    background-image: url("mainbg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    font-size: 22px;
}
#navbarSupportedContent ul li a{
    color: #F1F6F5;
}
#navbarSupportedContent ul li a:hover{
    color: #ffffff;
    font-weight: 800;
}
#dropdownmenu a{
    font-size: 21px;
    background-color: #5555ff;
}
#navbar-logo{
    font-size: 30px;
    color:#ffffff;
}


/* SIC Calculator */
.simple-interest-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}
.heading{
    align-self: center;
    margin-top: 2.2rem;
    font-size: 2.7rem;
    font-weight: 600;
    color:#F1F6F5 ;
}
.calci{
    width: 500px;
    background-color: rgba(36, 36, 94, 0.928);
    color: white;
    margin-top: 2rem;
    align-self: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 40px 15px rgba(153, 153, 153, 1);
}
h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin: 15px;
}
.text{
    text-align: left;
    margin: 17px;
}
#amount, #rate,#time{
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid #ffffff;
    width: 200px;
    margin-left: 20%;
}
#amount:focus,#rate:focus,#time:focus{
    border-bottom: 2px solid #ffffff;
    width: 280px;
    transition: 0.5s;
}
#result{
    font-size: 20px;
    margin-left: 7.5rem;
    color: yellow;
}
#btn{
    font-family: inherit;
    margin-top: 10px;
    border: none;
    color: #fff;
    background-color: blueviolet;
    width: 150px;
    padding: 10px;
    border-radius: 30px;
    outline: none; 
    cursor: pointer;
    margin-left: 30%;
}
#btn:hover{
    box-shadow: 1px 1px 10px #ffffff;
}
#info{
    font-size: 12px;
    font-family: inherit;
}



@media only screen and (max-width:600px){
    .calci{
        width: 350px;
    }
    .heading{
        font-size: 30px;
    }
    h2{
        font-size: 20px;
    }
    #amount, #rate,#time{
        width: 170px;
    }
    #amount:focus,#rate:focus,#time:focus{
        border-bottom: 2px solid #341f97;
        width: 180px;
        transition: 0.5s;
    }
    #btn{
        margin-left: 20%;
    }
    #result{
        margin-left: 4rem;
    }
}